body {
  background-color: #fff;
  min-height: 98vh;
  display: flex;
  flex-direction: column;
}

#titled {
  padding: 4% 2%;
  text-transform: uppercase;
}

main {
  padding: 1% 30%;
}

.update-controller {
  display: none;
  flex-direction: row;
}

.update-controller button {
  background-color: white;
  border: none;
}

.update-controller button i {
  font-size: 19px;
  padding: 5px;
  border-radius: 6px;
}

.update-controller button i:hover {
  background-color: rgb(226, 225, 225);
}

.contact-Section {
  display: flex;
  box-shadow: 2px 2px 8px grey;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;
}

.input-header {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid grey;
}

.to-do-input {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
}

.to-do-input input {
  width: 90%;
  padding: 2%;
  border: none;
  outline: none;
  font-size: 25px;
}

#enter {
  background-color: white;
  border: none;
}

.item {
  display: flex;
  background-color: white;
  flex-direction: row;
  padding: 0%;
  border-bottom: 1px solid grey;
}

.fa-refresh {
  float: right;
  color: grey;
}

.editBtn {
  font-size: 25px;
  padding: 10px;
}

.editBtn:hover {
  background-color: rgb(235, 235, 235);
}

.input-controller {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: last baseline;
  justify-content: space-around;
}

.input-controller textarea {
  width: 90%;
  background-color: white;
  border: none;
  padding-top: 5%;
  outline: none;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: black;
  font-size: 20px;
  resize: none;
}

.input-controller input {
  height: 25px;
  width: 25px;
}

section h1 {
  border-bottom: 1px solid rgb(172, 172, 172);
  margin: 0;
  padding: 12px;
}

.in {
  border: none;
  background-color: inherit;
}

.fa-caret-left {
  font-size: 20px;
  padding: 10px;
}

.fa-caret-left:hover {
  cursor: pointer;
  background-color: rgb(240, 239, 239);
}

.clean {
  border-radius: 0;
  border: none;
  text-transform: capitalize;
  padding: 2%;
  font-size: 20px;
  background-color: rgb(248, 248, 248);
}

.clean:hover {
  background-color: rgb(185, 185, 185);
}
